body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: green;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
}
li {
  float: left;
}
li a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: auto;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Lobster";

}
h1 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  color: green;
  background-color: black;
  font-family: "windsong";
}
h2 {
  border: 0;
  margin: 0;
  padding: 0;
}
p {
  border: 0;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: lighter;
  text-indent: 25px;
}
#cart-info{
  width: auto;
  height: auto;
  margin-left: 700px;
}
.back {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.cover {
  background-image: url("pic/pic1.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.food {
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.food1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.fa-shopping-cart{
  width: 30px;
  height: 40px;
}
.map {
  width: 100%;
  height: auto;
  margin: 0;
}
@media (max-width: 480px) {
body {

}
h1 {
  font-size: 40px;
}
ul {
  list-style-type: none;
  overflow: hidden;
  width: 378px;
  height: auto;
  border: 0;
  margin: 0;
  padding:  0 0 40px 100px;
}
li {
  float: left;
}
li a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 240px;
  height: 15px;
  border: 0;
  padding: 20px;
  margin: 0 0 0 20px;
  font-size: 45px;
}
.back {
  width: 100%;
  height: auto;
  margin: 0 0 0 0;
  padding: 0;
}
.cover {
  background-image: url("pic/pic1.jpg");
  background-repeat: no-repeat;
  background-size: 480px;
  margin: 120px 0 0 0;
  padding: 0;
  width: 460px;
  height: 460px;
}
.map {
  width: 50px;
}


}
@media (min-width: 481px) and (max-width: 767px){
body {
    width:  100%;
    height: auto;

  }
h1 {
  font-size: 40px;
}
ul {
  list-style-type: none;
  overflow: hidden;
  width: 360px;
  height: auto;
}

}



}
@media (min-width: 481px) and (max-width: 1280px){



}
@media (min-width: 1281px){

}
